.coverage-fields {
  display: flex;
}

.coverage-fields-datepicker {
  align-self: flex-start;
  flex: 1 1 200px;
  margin-right: 1em;
}

.coverage-fields-datepicker:last-child {
  margin-right: 0;
}
