@import '@folio/stripes-components/lib/variables.css';

.pane {
  background: var(--bg);
  border-left: 1px solid var(--color-border);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex: 0 0 320px;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 600px;
  will-change: transform;

  &:last-child {
    border-right: none;
  }

  &.aside {
    left: 0;
    right: auto;
    z-index: 10;
    border-left: none;
    border-right: 1px solid var(--color-border);

    @media (--medium-up) {
      max-width: 320px;
    }
  }

  &.static {
    position: relative;
    max-width: none;
  }

  @media (--large-up) {
    box-shadow: none;
    border-left: none;
    border-right: 1px solid var(--color-border);
    max-width: none;
    position: relative;
  }
}

.pane-container {
  height: 100%;
  left: 0;
  min-width: 320px;
  position: absolute;
  top: 0;
  width: 100%;

  @nest .aside & {
    left: auto;
    right: 0;
  }
}

.content {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.vignette {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.aside {
    z-index: 10;
  }

  @media (--large-up) {
    display: none;
  }
}

.pane-enter {
  transform: translate3d(100%, 0, 0);

  &.aside {
    transform: translate3d(-100%, 0, 0);
  }

  @media (--large-up) {
    flex: 0 0 0;
    transform: none;

    &.aside {
      transform: none;
    }
  }
}

.pane-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 300ms ease-in-out;

  &.aside {
    transform: translate3d(0, 0, 0);
  }

  @media (--large-up) {
    flex: 0 0 320px;
    transform: none;

    &.aside {
      transform: none;
    }
  }
}

.pane-exit {
  transform: translate3d(0, 0, 0);

  &.aside {
    transform: translate3d(0, 0, 0);
  }

  @media (--large-up) {
    flex: 0 0 320px;
    transform: none;

    &.aside {
      transform: none;
    }
  }
}

.pane-exit-active {
  transform: translate3d(100%, 0, 0);
  transition: all 300ms ease-in-out;

  &.aside {
    transform: translate3d(-100%, 0, 0);
  }

  @media (--large-up) {
    flex: 0 0 0;
    transform: none;

    &.aside {
      transform: none;
    }
  }
}

.fade-in {
  opacity: 0.01;
}

.fade-in-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-out {
  opacity: 1;
}

.fade-out-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in-out;
}
