.list {
  line-height: 1.15;
  max-width: 48rem;
  margin: 0 auto;
  padding: 0;

  &.full-width {
    max-width: none;
  }

  & li {
    border-bottom: 1px solid #eee;
    list-style-type: none;
    margin: 0;

    &:last-child {
      border-bottom: none;
    }

    & a {
      text-decoration: none;
      display: block;
      padding: 1em;
      color: #666;

      &:hover {
        background-color: #efefef;
      }

      & h3,
      & h4 {
        color: #333;
      }
    }
  }
}
