.list {
  line-height: 1.15;
  margin: 0;
  padding: 0;

  & li {
    border-bottom: 1px solid #eee;
    list-style-type: none;
    margin: 0;

    &:last-child {
      border-bottom: none;
    }

    & a {
      text-decoration: none;
      display: block;
      padding: 1em;
      color: #888;

      &:hover {
        background-color: #efefef;
      }

      & h5 {
        color: #555;
        font-weight: 600;
        margin: 0 0 0.5em;
      }
    }
  }
}
