.list {
  margin: 0;
  padding: 0;

  & li {
    border-bottom: 1px solid #dcdcdc;
    list-style-type: none;
    margin: 0;

    &:last-child {
      border-bottom: none;
    }

    & a {
      text-decoration: none;
      display: block;
      padding: 1em;

      &:hover {
        background-color: #eee;
      }

      & h5 {
        margin: 0;
      }
    }
  }
}
