@import '@folio/stripes-components/lib/variables';

.list {
  font-size: var(--font-size-small);
  line-height: var(--line-height);
  max-width: 48rem;
  margin: 0 auto;
  padding: 0;

  &.full-width {
    max-width: none;
  }

  & li {
    border-bottom: 1px solid #eee;
    list-style-type: none;
    margin: 0;

    &:last-child {
      border-bottom: none;
    }

    & a {
      text-decoration: none;
      display: block;
      padding: 0.5rem 1rem 0.5rem 1.5rem;
      color: #666;

      &:hover {
        background-color: var(--color-fill-hover);
      }

      & h3,
      & h4 {
        color: #333;
      }
    }
  }
}
