@import '@folio/stripes-components/lib/variables';

.coverage-fields-category {
  margin: 0.5em 1.75em var(--control-margin-bottom);
}

.managed-coverage-fields-datepicker {
  align-self: flex-start;
  flex: 1 1 200px;
  margin: 0 0.5em;
}

.custom-coverage-fields-datepicker {
  align-self: flex-start;
  flex: 1 1 200px;
  margin-right: 1em;
}
