@import '@folio/stripes-components/lib/variables';

.custom-embargo-form {
  padding: 0 0 1em;

  &.is-editing {
    background: #e6f3ff;
    padding: 1em;
  }
}

.custom-embargo-add-button {
  margin: 1em 0;
}

.custom-embargo-display {
  display: flex;
  align-items: center;
}

.custom-embargo {
  display: flex;
  align-items: flex-start;
}

.custom-embargo-action-buttons {
  border-top: 1px solid var(--minor-divider-color);
  display: flex;
  margin-top: 1em;
  padding-top: 1em;
  align-items: flex-start;
}

.custom-embargo-action-button {
  margin-right: 0.25em;
}

.custom-embargo-container {
  display: flex;
  align-items: flex-start;
}

.custom-embargo-text-field {
  align-self: flex-start;
  flex: 1 1 auto;
  margin-right: 1em;
}

.custom-embargo-component-width {
  width: 13em;
}

.error-message {
  color: var(--error);
}
