@import '@folio/stripes-components/lib/variables';

.details-view-section {
  border-top: 1px solid var(--minor-divider-color);
  margin: 0 auto;
  max-width: 50rem;
  padding: 0.83em 0 1em 0;

  &.hide-separator {
    border-top: none;
  }
}

.details-view-section-label {
  color: var(--sub-label-color #999);
  font-size: var(--font-size-large);
  font-weight: 600;
  margin: 1em auto;
  max-width: 50rem;
}
