@import '@folio/stripes-components/lib/variables';

.details-view-section {
  border-top: 1px solid var(--minor-divider-color);
  margin: 0 auto;
  max-width: 50rem;
  padding-bottom: 1em;

  &.hide-separator {
    border-top: none;
  }
}

.details-view-section-label {
  color: var(--subLabelColor #999);
  font-size: 18px;
  font-weight: 600;
  margin: 1em auto;
  max-width: 50rem;
}
