@import '@folio/stripes-components/lib/variables';

.details-view-section {
  border-top: 1px solid var(--minor-divider-color);
  padding-bottom: 1em;

  &:first-of-type {
    border-top: none;
  }
}

.details-view-section-label {
  color: var(--subLabelColor #999);
  font-size: 18px;
  font-weight: 600;
}
