@import '@folio/stripes-components/lib/variables';

.custom-embargo-fields {
  align-items: flex-start;
  display: flex;
  max-width: 50em;
}

.custom-embargo-text-field {
  flex: 1;
  margin-right: 1em;
}

.custom-embargo-select {
  flex: 1;
}
