@import '@folio/stripes-components/lib/variables';

.button-wrapper {
  max-width: calc(var(--container-max-width) - 2rem);
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #eee;
}

.button-container {
  display: flex;
  margin: 2rem auto 1rem;
  width: 100%;
  max-width: 500px;
  justify-content: space-around;

  & button[disabled] {
    background-color: transparent;
    color: var(--color-text-p2, rgba(0, 0, 0, 0.62));

    &:hover {
      background-color: var(--color-fill-disabled, rgba(0, 0, 0, 0.15));
    }
  }
}

.prev-next-page-info {
  font-weight: bold;
  display: flex;
  flex-grow: 3;
  flex-shrink: 0;
  flex-basis: 45%;
  align-items: center;
  justify-content: center;
  align-content: middle;
  margin-bottom: 1rem;
}
