@import '@folio/stripes-components/lib/variables';

.package-edit-action-buttons {
  align-items: flex-start;
  border-top: 1px solid var(--minor-divider-color);
  display: flex;
  padding-top: 1em;

  & button {
    margin-right: 0.25em;
  }
}

.full-view-link {
  display: none;

  @media (--mediumUp) {
    display: block;
  }
}

.visibility-radios,
.title-management-radios {
  max-width: 50em;
  margin-top: 2em;

  & fieldset {
    padding: 0;
  }
}
