@import "@folio/stripes-components/lib/variables";

.titlesListContainer {
  max-width: calc(var(--container-max-width) - 2rem);
  height: 560px;
  margin: 0 auto;
}

.cellTopAlign {
  align-items: flex-start;
}

.headerCell {
  padding: var(--gutter-static-two-thirds) 0 var(--gutter-static-one-third) var(--gutter-static-two-thirds);
}

.statusCellWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
