@import '@folio/stripes-components/lib/variables';

.search-pane-vignette {
  height: 100%;
  z-index: stripesZIndex('searchPaneVignette');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);

  &.is-hidden {
    display: none;
  }
}

@media (--largeUp) {
  .search-pane-vignette {
    display: none;
  }
}
