@import '@folio/stripes-components/lib/variables';

.search-form-container {
  padding: 1em;
}

.search-switcher {
  display: block;
  margin: 0 auto 1em;
  position: relative;
  vertical-align: middle;
  width: 100%;

  & a {
    border: 1px solid var(--primary);
    border-radius: 0.4em;
    display: inline-block;
    flex: 0 1 auto;
    padding: 0.36em 0.57em;
    position: relative;
    text-align: center;
    user-select: none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: calc(100% / 3);

    &:first-child {
      margin-left: 0;

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.is-active {
      background-color: var(--primary);
      color: #fff;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  & a + a {
    margin-left: -1px;
  }
}

.search-input {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  background-color: #fff;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px;
  width: 100%;
}

.search-submit {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.4em;
  color: #fff;
  line-height: 2em;
  margin-top: 1em;
  width: 100%;

  &:hover {
    background-color: color(var(--primary) shade(8%));
  }
}

.search-results-list {
  margin: 1em 0;
  padding-left: 0;
}
