@import '@folio/stripes-core/src/components/variables';

.search-form-container {
  margin: 1em 0 0.5em 0;
  width: 100%;
}

.search-switcher {
  float: left;
  margin: 0 1em;

  & a {
    display: inline-block;
    border: 1px solid var(--primary);
    border-width: 1px 1px 1px 0;
    padding: 0.36em 0.57em;
    text-decoration: none;
    line-height: 1;

    &:first-child {
      border-left-width: 1px;
      border-radius: 0.4em 0 0 0.4em;
    }

    &:last-child {
      border-radius: 0 0.4em 0.4em 0;
    }

    &.is-active {
      background-color: var(--primary);
      color: #fff;
    }
  }
}

.search-input {
  height: var(--controlHeight);
  min-height: var(--controlHeight);
  margin-bottom: var(--controlMarginBottom);
  padding: 4px;
  border: 1px solid var(--inputBorderColor);
}

.search-submit {
  margin-left: 0.5em;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.4em;
  color: #fff;

  &:hover{
    background-color: color(var(--primary) shade(8%));
  }
}

.search-results-list {
  margin: 1em 0;
  padding-left: 0;
}
