@import '@folio/stripes-components/lib/variables';

.search-form-container {
  margin: 0 auto;
  min-width: 200px;
  max-width: 640px;
  padding: 1em;
}

.search-switcher {
  display: block;
  font-size: var(--font-size-small);
  margin: 0 auto 1em;
  position: relative;
  vertical-align: middle;
  width: 100%;

  & a {
    border: 1px solid var(--primary);
    border-radius: 0.4em;
    display: inline-block;
    flex: 0 1 auto;
    padding: 0.36em 0.57em;
    position: relative;
    text-align: center;
    user-select: none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: calc(100% / 3);

    & a + a {
      margin-left: -1px;
    }

    &:visited {
      color: var(--primary);
    }

    &.is-active {
      background-color: var(--primary);
      color: #fff;
    }

    &:first-child {
      margin-left: 0;

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
}

.search-results-list {
  margin: 1em 0;
  padding-left: 0;
}

.search-filters {
  & section {
    margin-bottom: 1em;
  }

  & [role="tabpanel"] {
    margin-left: 1rem;
  }
}

.search-field {
  margin-bottom: calc(var(--control-margin-bottom) / 2);
}
