@import '@folio/stripes-components/lib/variables';

.search-form-container {
  margin: 0 auto;
  min-width: 200px;
  max-width: 640px;
  padding: 1em;
}

.search-switcher {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  & > * {
    width: 100%;
  }

  & > :first-child,
  & > :first-child::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & > :last-child,
  & > :last-child::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  & > :not(:first-child) {
    margin-left: -1px;
  }

  & > :not(:first-child):not(:last-child),
  & > :not(:first-child):not(:last-child)::before {
    border-radius: 0;
  }
}

.search-results-list {
  margin: 1em 0;
  padding-left: 0;
}

.search-filters {
  & section {
    margin-bottom: 1em;
  }

  & [role="tabpanel"] {
    margin-left: 1rem;
  }
}

.search-field {
  margin-bottom: calc(var(--control-margin-bottom) / 2);
}

[dir="rtl"] {
  & .search-switcher {
    & > :first-child,
    & > :first-child::before {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }

    & > :last-child,
    & > :last-child::before {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }

    & > :not(:first-child) {
      margin-left: 0;
      margin-right: -1px;
    }
  }
}
