@import '@folio/stripes-components/lib/variables';

.list {
  height: 100%;
  overflow-y: auto;

  & > ul {
    position: relative;
    overflow: hidden;
  }
}

.list-item {
  position: absolute;
  width: 100%;
  left: 0;
}

.list-error {
  padding: 2rem;
  text-align: center;
  color: var(--error);

  &.not-found {
    color: #555;
  }
}
