@import '@folio/stripes-components/lib/variables';

.settings-kb-form {
  max-width: 50em;
}

.settings-kb-form-actions {
  align-items: flex-start;
  border-top: 1px solid var(--minor-divider-color);
  display: flex;
  padding-top: 1em;

  & button {
    margin-right: 0.25em;
  }
}
