@import '@folio/stripes-components/lib/variables';

.search-pane {
  background: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 14;

  &:only-child {
    display: block;
  }

  &.is-hidden {
    display: none;
  }
}

@media (--medium-up) {
  .search-pane {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    width: 320px;

    &:only-child {
      border: none;
      width: 100%;
    }
  }
}

@media (--large-up) {
  .search-pane,
  .search-pane.is-hidden,
  .search-pane:only-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex: 0 0 320px;
    flex-flow: column nowrap;
    overflow: hidden;
    position: relative;
  }
}
