@import '@folio/stripes-components/lib/variables';

.coverage-form {
  &.is-editing {
    background: #e6f3ff;
    padding: 1em 1em 0;
  }
}

.coverage-form-display {
  display: flex;
  align-items: center;
}

.coverage-form-action-buttons {
  border-top: 1px solid var(--minor-divider-color);
  display: flex;
  margin-top: 1em;
  padding-top: 1em;
  align-items: flex-start;
}

.coverage-form-action-button {
  margin-right: 0.25em;
}
