.list {
  max-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.locked {
    overflow-y: hidden;
  }

  & > ul {
    position: relative;
    overflow: hidden;
  }
}

.list-item {
  position: absolute;
  width: 100%;
}
