@import '@folio/stripes-components/lib/variables';

.accordion-list-header {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: 100%;
  padding: 0 1rem;
}

.accordion-list-count {
  margin-left: 1.5rem;
}
