@import '@folio/stripes-components/lib/variables';

.container {
  height: calc(100vh - 90px);
  overflow-y: auto;

  &.locked {
    overflow-y: hidden;
  }

  & .list-header {
    display: flex;
    border-bottom: 1px solid #eee;
    border-top: 1px solid var(--minor-divider-color);
    justify-content: space-between;
    flex-shrink: 0;
    margin: 0 auto;
    max-width: 48rem;
    width: 100%;

    & p {
      color: var(--secondary);
      margin: 0;
      padding-bottom: 1rem;
    }
  }

  &.locked {
    & .list-header {
      border-top: 1px solid #fff;
    }
  }

  & h4 {
    font-size: inherit;
    margin: 0.5em 0;
  }

  & label h4 {
    display: inline-block;
  }
}

.header {
  padding: 0 1rem;
  margin: 2rem auto;
  max-width: 50rem;

  & h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0.5em 1em 0 0;
  }

  & p {
    color: var(--secondary);
    font-size: 1.5em;
    font-weight: 600;
    margin: 0.25em auto 0;
  }

  & button {
    float: right;
  }
}

h1,
h2,
h3,
h4 {
  &:focus {
    outline: none;
  }
}

.body {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}

.sticky {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  & section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  & .list {
    /* the box-model needs _some_ height that is not 'auto' for flexbox to
       be able to fill this element to fit the remaining space */
    min-height: 0;
    flex: 1;
  }
}
