@import '@folio/stripes-components/lib/variables';

.eholdings-settings-back-button {
  @media (--mediumUp) {
    display: none;
  }
}

.settings-nav-list {
  margin: 15px;
}

.settings-paneset {
  background: #fff;
  display: flex;
  height: 100%;
}

.settings-nav-pane {
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  @media (--mediumUp) {
    flex: 5 0 160px;
    position: relative;
  }
}
