@import '@folio/stripes-components/lib/variables';

.listSectionHeader {
  cursor: pointer;
}

.listSectionContent {
  padding-left: 1rem;
}

.listItemDisabled {
  color: #616161;
}

.newListSection {
  color: #000;
}
